{% load i18n %}
<div class="bg-base-200">
  <div class="mx-auto max-w-7xl py-12 px-6 lg:flex lg:items-center lg:justify-between lg:py-24 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-base-content md:text-4xl">
      <span class="block">{% translate "Stop finding out from your users." %}</span>
      <span class="block text-primary">{% translate "Set up your first monitor in minutes." %}</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:shrink-0">
      <div class="inline-flex rounded-md shadow-2xs">
        <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg">{% translate "Start monitoring free" %}</a>
      </div>
    </div>
  </div>
</div>
